.section 
  .container 
    h2.section__h2 Популярные фильмы
    .movies.test
      //- .movies-item
      //-   a(href="#").movies__link
      //-     img(src=require('../../../img/poster.png'), alt="").movies__img
      //- .movies-item
      //-   a(href="#").movies__link
      //-     img(src=require('../../../img/poster.png'), alt="").movies__img
      //- .movies-item
      //-   a(href="#").movies__link
      //-     img(src=require('../../../img/banner.png'), alt="").movies__img
      //- .movies-item
      //-   a(href="#").movies__link
      //-     img(src=require('../../../img/poster.png'), alt="").movies__img
      //- .movies-item
      //-   a(href="#").movies__link
      //-     img(src=require('../../../img/poster.png'), alt="").movies__img
      //- .movies-item
      //-   a(href="#").movies__link
      //-     img(src=require('../../../img/poster.png'), alt="").movies__img
    button.section__btn Посмотреть всё