.section 
  .container 
    h2.section__h2 Popular Genres
    .genres
      .genres-item.genres-item__romance
        img(src=require('../../../img/genres/romance.svg'), alt="Romance")
        h3.genres__title Romance
      .genres-item.genres-item__drama
        img(src=require('../../../img/genres/drama.svg'), alt="Drama")
        h3.genres__title Drama
      .genres-item.genres-item__historical
        img(src=require('../../../img/genres/historical.svg'), alt="Historical")
        h3.genres__title Historical
      .genres-item.genres-item__action
        img(src=require('../../../img/genres/action.svg'), alt="Action")
        h3.genres__title Action
      .genres-item.genres-item__sci-fi
        img(src=require('../../../img/genres/sci-fi.svg'), alt="Sci-fi")
        h3.genres__title Sci-fi
      .genres-item.genres-item__horror
        img(src=require('../../../img/genres/horror.svg'), alt="Horror")
        h3.genres__title Horror
      .genres-item.genres-item__comedy
        img(src=require('../../../img/genres/comedy.svg'), alt="Comedy")
        h3.genres__title Comedy
      .genres-item.genres-item__documentary
        img(src=require('../../../img/genres/documentary.svg'), alt="Documentary")
        h3.genres__title Documentary