.section 
  .container 
    h2.section__h2 Популярные жанры
    .genres
      a(href="movieList.html?genre=4").genres-item.genres-item__romance
        img(src=require('../../../img/genres/romance.svg'), alt="Romance")
        h3.genres__title Мелодрамы
      a(href="movieList.html?genre=2").genres-item.genres-item__drama
        img(src=require('../../../img/genres/drama.svg'), alt="Drama")
        h3.genres__title Драмы
      a(href="movieList.html?genre=15").genres-item.genres-item__historical
        img(src=require('../../../img/genres/historical.svg'), alt="Historical")
        h3.genres__title Исторические
      a(href="movieList.html?genre=11").genres-item.genres-item__action
        img(src=require('../../../img/genres/action.svg'), alt="Action")
        h3.genres__title Боевики
      a(href="movieList.html?genre=6").genres-item.genres-item__sci-fi
        img(src=require('../../../img/genres/sci-fi.svg'), alt="Sci-fi")
        h3.genres__title Фантастика
      a(href="movieList.html?genre=17").genres-item.genres-item__horror
        img(src=require('../../../img/genres/horror.svg'), alt="Horror")
        h3.genres__title Ужасы
      a(href="movieList.html?genre=13").genres-item.genres-item__comedy
        img(src=require('../../../img/genres/comedy.svg'), alt="Comedy")
        h3.genres__title Комедии
      a(href="movieList.html?genre=7").genres-item.genres-item__documentary
        img(src=require('../../../img/genres/documentary.svg'), alt="Documentary")
        h3.genres__title Приключения