.section 
  .container 
    h2.section__h2 Trending TV Shows
    .movies 
      .movies-item
        a(href="#").movies__link
          img(src=require('../../../img/poster.png'), alt="").movies__img
      .movies-item
        a(href="#").movies__link
          img(src=require('../../../img/poster.png'), alt="").movies__img
      .movies-item
        a(href="#").movies__link
          img(src=require('../../../img/banner.png'), alt="").movies__img
      .movies-item
        a(href="#").movies__link
          img(src=require('../../../img/poster.png'), alt="").movies__img
      .movies-item
        a(href="#").movies__link
          img(src=require('../../../img/poster.png'), alt="").movies__img
      .movies-item
        a(href="#").movies__link
          img(src=require('../../../img/poster.png'), alt="").movies__img
    button.section__btn See more