.section 
  .container 
    h2.section__h2 Popular Actors & Directors
    .actors 
      .actors-item 
        a(href="#").actors__link
          img(src=require('../../../img/actor.png'), alt="actor").actors__img
        h3.actors__title Samantha Bowen
      .actors-item 
        a(href="#").actors__link
          img(src=require('../../../img/actor.png'), alt="actor").actors__img
        h3.actors__title Samantha Bowen
      .actors-item 
        a(href="#").actors__link
          img(src=require('../../../img/actor.png'), alt="actor").actors__img
        h3.actors__title Samantha Bowen
      .actors-item 
        a(href="#").actors__link
          img(src=require('../../../img/actor.png'), alt="actor").actors__img
        h3.actors__title Samantha Bowen
      .actors-item 
        a(href="#").actors__link
          img(src=require('../../../img/actor.png'), alt="actor").actors__img
        h3.actors__title Samantha Bowen
      .actors-item 
        a(href="#").actors__link
          img(src=require('../../../img/actor.png'), alt="actor").actors__img
        h3.actors__title Samantha Bowen